.childWrapper__6e9f8 > svg:not(.favoriteIcon_dcc7a4) {
  --discord-icon: none;
	display: var(--discord-icon);
}

.childWrapper__6e9f8:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background: url('https://cdn.discordapp.com/emojis/1026533070955872337');
	background-color: transparent !important;
	background-size: cover;
    width: 80%;
    height: 80%;
}
